@import "../contact-list-item/contact-list-item.component";
.fill-space {
flex: 1 1 auto;
}
mat-toolbar{
  z-index: 1000;
}
.delete-icon{
  color: #ff6f35;
}
.icon{
  padding-right: 45px;
}

.name{
  font-size: 30px;
  font-weight: normal;
  text-align: center; margin-top: 15px;
}

.contact-header{
  margin: 45px;
}

.text-label{
  color: #579cb8;
}

.text-field{
  margin-left: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #585455;
}

.contact-form{
  margin-top: 80px;
  margin-left: 50px;
  margin-right: 50px;
}

