<div class="main">
<mat-toolbar color="#ffffff">
  <mat-icon (click)="close()">arrow_back</mat-icon>


  <!-- This fills the remaining space of the current row -->
  <span class="fill-space"></span>

  <span *ngIf="!edit"><mat-icon (click)="setEdit()" class="icon">edit</mat-icon></span>
  <span *ngIf="edit"><mat-icon (click)="deleteContact()" class="delete-icon icon">delete</mat-icon></span>
  <span *ngIf="edit"><mat-icon (click)="saveContact()" class="icon">save</mat-icon></span>
</mat-toolbar>
<form class="form contact-form" *ngIf="edit">
    <mat-form-field class="form-group">
      <input matInput placeholder="First Name" required type="text" name="first_name" [(ngModel)]="editContactData.first_name">
    </mat-form-field>

    <mat-form-field class="form-group">
      <input matInput placeholder="Last Name" required type="text" name="last_name" [(ngModel)]="editContactData.last_name"/>
    </mat-form-field>
  <mat-form-field class="form-group">
      <input matInput placeholder="Email" required type="email" name="email" [(ngModel)]="editContactData.email">
    </mat-form-field>

    <mat-form-field class="form-group">
      <input matInput placeholder="Phone" required name="phone" [(ngModel)]="editContactData.phone"/>
    </mat-form-field>
</form>
<div *ngIf="!edit">
  <div class="display-div">
  <div  class="row contact-header">
  <div class="col-md-11">
    <img [src]="'https://ui-avatars.com/api/?background=0D8ABC&color=fff&name=' + contact.first_name+'+'+contact.last_name"
         [alt]="contact.first_name+contact.last_name"
         class="img-responsive img-circle center-block"
         style=" display:block;
    margin:auto;"
    />
    <h6 class="name">{{contact.first_name+' '+contact.last_name}}</h6>

  </div>
</div>
    <div class="text-field">
        <h6 class="text-label">First Name</h6>
        <p>{{contact.first_name}}</p>
    </div>
    <div class="text-field">
      <h6 class="text-label">Last Name</h6>
      <p>{{contact.last_name}}</p>
    </div>
    <div class="text-field">
      <h6 class="text-label">Email</h6>
      <p>{{contact.email}}</p>
    </div>
    <div class="text-field">
      <h6 class="text-label">Phone</h6>
      <p>{{contact.phone}}</p>
    </div>
</div>
</div>
</div>
