app-contact-list-item{
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
.list{
  overflow-y: scroll;
  max-height: 87vh;
}
app-contact-display{
  padding: 0;
  @media only screen and (max-width:800px){
    padding-top: 65px;
    background: #f9f9f9;
    position: absolute;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
  }
}
